# .coveragerc to control coverage.py
[run]
branch = True
omit =
    # omit these old mesa file
    rog_rl/server.py
    rog_rl/visualization.py
    rog_rl/disease_planner.py
    rog_rl/model.py
    rog_rl/contact_network.py
    rog_rl/scheduler.py
    rog_rl/agent.py
    rog_rl/agent_event.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug
    if render_on:
    def demo(width, height):
    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

ignore_errors = True

[html]
directory = coverage_html_report
